.preloader{
	z-index: 999;
    opacity: 1;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: #222222;
    animation: preloader 0.4s 0.4s cubic-bezier(0.68,0,0.39,0.99) forwards;
}

.preloader img{
	width: 240px;
	animation: image 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.preloader.closed {
	display: none;
}

@keyframes image {
	0%{
		opacity: 1;
	} 100%{
		opacity: 0;
	}
}

@keyframes preloader {
	0%{
		transform: translateY(0%)
	} 100%{
        transform: translateY(-120%);
	}
}